/* src/styles/global.css */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fb;
  color: #1c1c1c;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
